<?php

/*
*   Settings Definition file 
*
*   @version: settings.php 2009-06-03
*   @copyright (c) 2009 Jay Eames
*   @licence http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

// General settings for the system
$SITE_TITLE	= "OpenSimulator";
$TEMPLATE_PATH	= "templates/default/";
$SYSURL 	= "http://www.mysite.com/yaowi";
$SYSMAIL 	= "your@email.com";


// Settings for the OpenSim database (MySQL only at the moment)
$DB_HOST 	= "localhost";
$DB_NAME 	= "opensim";
$DB_USER 	= "opensim";
$DB_PASS 	= "mysecret";

// Settings for the Yaowi database (MySQL only at the moment)
$Y_DB_HOST 	= "localhost";
$Y_DB_NAME	= "yaowi";
$Y_DB_USER	= "yaowi";
$Y_DB_PASS	= "yaowi";

// Default language - must be installed as a language pack
$BASE_LANGUAGE	= "en";

// Auto language stuff

// Do we try and automatically match the language to the IP address?
// This is experimental, and needs the appropriate language packs installed to work
$AUTO_LANGUAGE  = true;

// Please leave the copyright intact for licence purposes
$COPYRIGHT = "Powered by <a href=\"http://www.radioice.co.uk/yaowi\">Yaowi</a> - Copyright &copy; 2009 - Jay Eames / $SITE_TITLE";

?>
