</div>
<div id=bottomLinks>
  <a href="<?php echo $SYSURL; ?>?page=status"><?php echo $session->lang["LI_STATUS"]; ?></a> |
  <a href="<?php echo $SYSURL; ?>?page=support"><?php echo $session->lang["LI_SUPPORT"]; ?></a> |
  <a href="<?php echo $SYSURL; ?>?page=terms"><?php echo $session->lang["LI_TERMS_OF_SERVICE"]; ?></a> |
  <a href="<?php echo $SYSURL; ?>?page=privacy"><?php echo $session->lang["LI_PRIVACY_POLICY"]; ?></a> |
  <a href="http://www.opensimulator.org/" target="_blank">OpenSimulator</a>
</div>
