<table width=100% border=0>
<tr valign=top><td>
<?php include("includes/alerts.php"); ?>
</td><td width=300>
<div id="gridStatusBox">
  <table id="gridStatusTable" cellspacing=0 cellpadding=3>
    <?php 
	echo "<tr><td class='gridStatus'>" . $session->lang['ST_GRID_STATUS'] . ":</td><td align=right class='gridStatus " . $osInfo->gridStatusClass() . "'>" . $session->lang[$osInfo->gridStatus()] . "</td></tr>";
    	echo "<tr class='rowHL'><td>" . $session->lang['ST_USERS_TOTAL'] . ":</td><td align=right>" . $osInfo->user_count . "</td></tr>";
    	echo "<tr><td>" . $session->lang['ST_REGIONS_TOTAL'] . ":</td><td align=right>" . $osInfo->region_count . "</td></tr>";
    	echo "<tr class='rowHL'><td>" . $session->lang['ST_UNIQUE_VISITORS'] . ":</td><td align=right>" . $osInfo->unique_count . "</td></tr>";
    	echo "<tr><td><b>" . $session->lang['ST_USERS_ONLINE'] . ":</b></td><td align=right><b>" . $osInfo->online_count . "</b></td></tr>";
    ?>
  </table>
</div>
</td></tr></table>

<div id="gridStatusNews">

</div>
