<p>Frequently Asked Questions:</p>

<div id='header'><b>1. OpenSim general questions</b></div>
<div id='faq1'>
<br>
<table style="margin-left: 10px;">
  <tr><td>1.1 What is Opensim?</td></tr>
  <tr><td>OpenSim is a platform for operating a virtual world, and supports multiple independent 
	  regions connecting to a single centralized grid. This is somewhat similar to the web, 
	  where anyone can run their own web server, tied together through the internet. It can 
	  also be used to create a private grid, analogous to a private intranet.</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>1.2 What is a region?</td></tr>
  <tr><td>A region is what you see when you log into OpenSim. It is the physical place (well, 
	  virtual physical space) where avatars move and interact. It is a square patch of land 
	  which may contain an island, mountains, a plain, buildings, etc., or just an ocean.</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>1.3 What is the grid?</td></tr>
  <tr><td>The grid is the level that organizes the regions and their positions in the world, and handles 
	  things that need to exist across regions, such as a user's inventory. You can think of it as 
	  similar to the world map.</tr></tr>
</table>
</div>
<br>
<div id='header2'><b>2. Getting Started</b></div>
<div id='faq2'>
<br>
<table style="margin-left: 10px;">
  <tr><td>2.1 I'm ready to go - what now?</td></tr>
  <tr><td>First things first, to log on to any OpenSim system, you need an <a href='?page=create'>account</a>.
	  Once you have created your account, you will need an OpenSim viewer. There are several different ones
	  available out there, but we would suggest either the <a href="http://mjm-labs.com/viewer/download.php">
	  Hippo viewer</a> (easiest to use for OpenSim), or the <a href="http://secondlife.com/support/downloads.php">
	  Second Life&trade; viewer</a> (just as usable, but takes more to configure).</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>2.2 Ok - I have an account and a viewer, what next?</td></tr>
  <tr><td>Now you have your viewer installed, you need to configure it to connect to our grid. {WRITE ME!}</td></tr>
  <tr><td>&nbsp;</td></tr>
</table>
</div>
<br>
<div id='header3'><b>3. In World Questions</b></div>
<div id='faq3'>
<br>
<table style="margin-left: 10px;">
  <tr><td>3.1 I can't edit my appearance! How do I change my look?</td></tr>
  <tr><td>Wibble</td></tr>
  <tr><td>&nbsp;</td></tr>
</table>
</div>
