<div id='topMnu'>
  <table id='topMnuTbl'>
    <tr valign=top>
      <td id='topMnuTblLogo'><img src='<?php echo $TEMPLATE_PATH; ?>/images/oswi_logo.png' alt='OpenSimulator'></td>
      <td id='logonStatus'>
	<?php 
	  if ($session->logged_in) {
	    echo $session->lang['GEN_WELCOME'] . " " . $session->username . "<br>[<a href='$SYSURL?page=myaccount'>" . $session->lang['GEN_MY_ACCOUNT'] . "</a> | <a href='$SYSURL?action=logoff&page=" . $_REQUEST['page'] . "'>" . $session->lang['GEN_LOGOFF'] . "</a>"; 
	    if ($session->userlevel == 5)
	      echo " | <a href='?page=admin'>" . $session->lang['GEN_ADMIN'] . "</a>";
	    echo "]"; 
	  } else {
	    echo $session->lang['GEN_WELCOME'] . " " .  $session->lang['GEN_GUEST'] . "<br>[<a href='#' onClick=\"showLogon(); return false;\">" . $session->lang['GEN_LOGON'] . "</a> | <a href='$SYSURL?page=create'>" . $session->lang['GEN_CREATE_ACCOUNT'] . "</a>]"; 
	  }
	?></td>
    </tr>
    <tr>
      <td id='topMnuTblMenu'>
	<a href="<?php echo $SYSURL; ?>?"><?php echo $session->lang['LI_HOME']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=latest"><?php echo $session->lang['LI_LATEST']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=status"><?php echo $session->lang['LI_STATUS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=users"><?php echo $session->lang['LI_USERS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=regions"><?php echo $session->lang['LI_REGIONS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=map"><?php echo $session->lang['LI_MAP']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=tools"><?php echo $session->lang['LI_TOOLS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=faq"><?php echo $session->lang['LI_FAQ']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=opensim"><?php echo $session->lang['LI_OPENSIM']; ?></a>
      </td>
      <td id='langBar'><?php echo $session->lClass->getLanguageBar(); ?></td>
    </tr>
  </table>
</div>
