<div id='topMnu'>
  <table id='topMnuTbl'>
    <tr valign=top>
      <td id='topMnuTblLogo'><a href="<?php echo $SYSURL; ?>?"><img src='<?php echo $SYSURL . $TEMPLATE_PATH; ?>/images/oswi_logo.png' alt='OpenSimulator' border=0></a></td>
      <td id='logonStatus'>
	<?php 
	  if ($session->logged_in) {
	    echo $session->lang['GEN_WELCOME'] . " " . $session->username . "<br>[<a href='$SYSURL?page=myaccount'>" . $session->lang['GEN_MY_ACCOUNT'] . "</a> | <a href='$SYSURL?action=logoff&page=" . $_REQUEST['page'] . "'>" . $session->lang['GEN_LOGOFF'] . "</a>"; 
	    if ($session->userlevel == 5)
	      echo " | <a href='" . $SYSURL . "index.php?page=admin'>" . $session->lang['GEN_ADMIN'] . "</a>";
	    echo "]"; 
	  } else {
	    echo $session->lang['GEN_WELCOME'] . " " .  $session->lang['GEN_GUEST'] . "<br>[<a href='#' onClick=\"showLogon(); return false;\">" . $session->lang['GEN_LOGON'] . "</a> | <a href='$SYSURL?page=create'>" . $session->lang['GEN_CREATE_ACCOUNT'] . "</a>]"; 
	  }
	?></td>
    </tr>
    <tr>
      <td id='topMnuTblMenu'>
	<a href="<?php echo $SYSURL; ?>?"><?php echo $session->lang['LI_HOME']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=latest"><?php echo $session->lang['LI_LATEST']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>index.php/Main_Page"><?php echo $session->lang['LI_WIKI']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=users"><?php echo $session->lang['LI_USERS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=regions"><?php echo $session->lang['LI_REGIONS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=tools"><?php echo $session->lang['LI_TOOLS']; ?></a> | 
	<a href="<?php echo $SYSURL; ?>?page=forums"><?php echo $session->lang['LI_FORUMS']; ?></a> |
	<a href="<?php echo $SYSURL; ?>?page=gallery"><?php echo $session->lang['LI_GALLERY']; ?></a>
      </td>
      <td id='langBar'><?php echo $session->lClass->getLanguageBar(); ?></td>
    </tr>
  </table>
</div>
